{% extends 'IutDossiersBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@IutDossiersBundle/Resources/public/dist/js/bootstrap-wysihtml/*'
        '@IutDossiersBundle/Resources/public/dist/js/bootstrap-wysihtml/locales/*'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $('#mail_relance_message').wysihtml5({
            toolbar: {
                "fa": true,
                "image": false
            },
            locale: "fr-FR"
        });
    </script>
{% endblock %}