<ul class="sidebar-menu">
    {% for link in menu %}
        {% if link.children is defined %}
            <li class="treeview">
                <a href="#">
                    <i class="{{ link.icon }}"></i>
                    <span> {{ link.label }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    {% for child in link.children %}
                        <li {% if parentPath == path(child.route) %}class="active"{% endif %}>
                            <a href="{{ path(child.route) }}">
                                <i class="fa fa-circle-o"></i> {{ child.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li {% if parentPath == path(link.route) %} class="active" {% endif %}>
                <a href="{{ path(link.route) }}">
                    <i class="{{ link.icon }}"></i>
                    <span> {{ link.label }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
    
{#
    <li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">new</small>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
        </ul>
    </li>
#}