<ul class="sidebar-menu">
    <li>
        <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> <span>Accueil</span>
        </a>
    <li class="treeview">
        <a href="#"><i class="fa fa-pie-chart"></i><span>Vacataires</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('vacataire_liste') }}"><i class="fa fa-circle-o"></i> Afficher tous les vacataires</a></li>
            <li><a href="{{ path('vacataire_ajouter') }}"><i class="fa fa-circle-o"></i> Ajouter nouveau vacataire</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-folder"></i><span>Dossiers</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('dossier_historique') }}"><i class="fa fa-circle-o"></i> Voir dossiers complets</a></li>
            <li><a href="{{ path('dossier_ajouter') }}"><i class="fa fa-circle-o"></i> Créer nouveau dossier</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-paperclip"></i><span>Pièces</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('piece_liste') }}"><i class="fa fa-circle-o"></i> Afficher les pièces existantes</a></li>
            <li><a href="{{ path('piece_ajouter') }}"><i class="fa fa-circle-o"></i> Ajouter nouvelles pièces</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-graduation-cap"></i><span>Formations</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('formation_liste') }}"><i class="fa fa-circle-o"></i> Afficher liste formations</a></li>
            <li><a href="{{ path('formation_ajouter') }}"><i class="fa fa-circle-o"></i> Ajouter nouvelles formations</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-envelope"></i><span>Modèles mail</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('modele-mail_liste') }}"><i class="fa fa-circle-o"></i> Afficher liste modèles</a></li>
            <li><a href="{{ path('modele-mail_ajouter') }}"><i class="fa fa-circle-o"></i> Ajouter modèle mail</a></li>
        </ul>
    </li>
</ul>