<ul class="sidebar-menu">
    <li>
        <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> <span>Accueil</span>
    </a>
    <li>
        <a href="{{ path('creerDossier') }}"><i class="fa fa-folder"></i> <span>Créer dossier</span></a>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-pie-chart"></i><span>Vacataires</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('afficherListeVacataires') }}"><i class="fa fa-circle-o"></i> Afficher vacataires</a></li>
            <li><a href="{{ path('ajouterVacataire') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-paperclip"></i><span>Pièces</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('afficherListeVacataires') }}"><i class="fa fa-circle-o"></i> Afficher pièces</a></li>
            <li><a href="{{ path('ajouterPiece') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-graduation-cap"></i><span>Formations</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('afficherListeVacataires') }}"><i class="fa fa-circle-o"></i> Liste formations</a></li>
            <li><a href="{{ path('ajouterFormation') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-envelope"></i><span>Modèles mail</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('afficherListeModelesMail') }}"><i class="fa fa-circle-o"></i> Liste modèles</a></li>
            <li><a href="{{ path('ajouterModeleMail') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
        </ul>
    </li>
</ul>