{% extends 'IutDossiersBundle::base.html.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
{% endblock %}  
{% set title = "Liste des vacataires" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-body">
                    <table id="listeVacataire" class="table table-bordered table-hover table-striped rowlink">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>E-mail</th>
                            <th>Formations</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for vacataire in vacataires %}
                                <tr>
                                    <td>
                                        <a href="{{ path('vacataire_modifier', {'id': vacataire.id}) }}" class="rowlink">
                                            {{ vacataire.nom }}
                                        </a>
                                    </td>
                                    <td>{{ vacataire.prenom }}</td>
                                    <td>{{ vacataire.mail }}</td>
                                    <td>
                                        {% for formation in vacataire.formations %}
                                            {{ formation.libelle }}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <nav>{{ knp_pagination_render(vacataires) }}</nav>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
